.container {
    margin-top: 90px;
    background-color: var(--background);
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    margin-bottom: 65px;
}

.cardAll {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    background-color: var(--background);
    padding: 10px;
}