/* stylelint-disable linebreaks */
.profile-container {
  background-image: url('../images/MG0810.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-top: 50px;
}

.user-email {
  font-size: x-large;
  color: var(--background);
}

.button-tags {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-tags h6 {
  font-size: x-large;
  color: var(--background);

}

.button-width {
  margin-top: 20px;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.209);
  color: var(--darkGray);
  font-size: 1.2rem;
  height: 45px;
  transition: 1s ease;
  padding: 10px;
  opacity: 0.9;
  width: 70%;
}
