/* stylelint-disable linebreaks */
.cardDone {
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  margin-top: 5px;
  position: relative;
  width: 100%;
}

.cardDone p {
  height: 30px;
  margin-left: 5px;
}

.cardDone samp {
  margin-left: 5px;
}

.shareDone {
  background: none;
  border: none;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
}

.imgDone {
  width: 150px;
}
